:root {
    --font-default: 'Oswald', sans-serif;
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
}


/* Colors */

:root {
    --color-default: #212529;
    --color-primary: #ff7f3f;
    --color-secondary: #37373f;
}


/* Smooth scroll behavior */

:root {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-default);
    color: var(--color-default);
    background-color: #F5F5F5;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: #ec2727;
    text-decoration: none;
}

h1 {
    font-family: var(--font-primary);
    color: var(--color-default);
}

h2.subMenu {
    background-color: #F5F5F5;
    h2:hover {
        background-color: #F5F5F5;
    }
}

h2,
h3,
h4,
h5,
h6,
span {
    font-family: var(--font-secondary);
}

section {
    overflow: hidden;
    padding: 80px 0;
    scroll-margin-top: 90px;
    overflow: clip;
}

div.container d-flex align-items-center justify-content-between {
    margin: 0;
}

.section-footer {
    padding: 0;
}

.section-bg {
    background-color: #eee;
}

.section-header {
    text-align: center;
    padding-bottom: 30px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: var(--font-default);
}

.section-header p {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    font-family: var(--font-primary);
}

.section-header p span {
    color: var(--color-primary);
}


/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/

.menu {
    padding-top: 20vh;
}

.menu .nav-tabs {
    border: 0;
}

.menu .nav-link {
    margin: 0 10px;
    padding: 10px 5px;
    transition: 0.3s;
    color: var(--color-secondary);
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 2px solid #b6b6bf;
}

@media (max-width: 575px) {
    .menu .nav-link {
        margin: 0 10px;
        padding: 10px 0;
    }
}

.menu .nav-link i {
    padding-right: 15px;
    font-size: 48px;
}

.menu .nav-link h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    font-family: var(--font-secondary);
}

@media (max-width: 575px) {
    .menu .nav-link h4 {
        font-size: 16px;
    }
}

.menu .nav-link:hover {
    color: var(--color-primary);
    background-color: #F5F5F5;
}

.menu .nav-link.active {
    color: var(--color-primary);
    border-color: var(--color-primary);
    background-color: #F5F5F5;
}

.menu .tab-content .tab-header {
    padding: 30px 0;
}

.menu .tab-content .tab-header p {
    font-size: 14px;
    text-transform: uppercase;
    color: #676775;
    margin-bottom: 0;
}

.menu .tab-content .tab-header h3 {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-primary);
}

.menu .tab-content .menu-item {
    -moz-text-align-last: center;
    text-align-last: center;
}

.menu .tab-content .menu-item .menu-img {
    padding: 0 60px;
    margin-bottom: 15px;
}

.menu .tab-content .menu-item h4 {
    font-size: 22px;
    font-weight: 500;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    font-weight: 30px;
    margin-bottom: 5px;
}

.menu .tab-content .menu-item .ingredients {
    font-family: var(--font-secondary);
    color: #8d8d9b;
    margin-bottom: 5px;
}

.menu .tab-content .menu-item .price {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
}

.footerstylekr {
    margin-right: 50;
}

.footerstylekn {
    margin-left: 50;
}

.footer {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    color: white;
    background-color: black;
    font-weight: lighter;
}

.footer .row>.col-3:nth-child(3) {
    align-self: flex-start;
}

.nav-link2 {
    font-weight: normal;
    color: white;
    text-decoration: none;
}

.blank {
    list-style-type: none;
    /* padding-bottom: ; */
}

.bold {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .footer {
        padding-left: 20;
        padding-right: 20;
    }
    .footer .row {
        flex-direction: column;
    }
    .footer .col-3 {
        width: 100%;
    }
    .footer .col-3:not(:first-child) {
        margin-top: 20px;
    }
    .header {
        height: auto;
        width: 100%;
    }
    .logo h1 {
        font-size: 36px;
    }
    .navbar ul li a {
        font-size: 20px;
    }
    .pesan {
        margin-left: 15px;
        width: 120px;
        height: 40px;
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header {
        height: 60px;
    }
    .logo h1 {
        font-size: 48px;
    }
    .navbar ul li a {
        font-size: 22px;
    }
    .pesan {
        margin-left: 20px;
        width: 140px;
        height: 40px;
        font-size: 26px;
    }
}